body {
  background: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.tiles {
  margin: 6px auto;
  width: 190px;
  height: 260px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(70px, 1fr));
}
.buttons {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100px;
}

.tile {
  height: 70px;
  width: 70px;
  position: relative;
  cursor: pointer;
}

.tile::before {
  opacity: 1;
  content: "";
  position: relative;
  width: 70px;
  height: 70px;
  display: block;
  background: black;
  border: 6px inset blue;
  top: -6px;
  left: -5px;
}

.tile.revealed::before {
  background: transparent;
}

.tile.match::before {
  background: transparent;
}
.restart {
  visibility: hidden;
  color: gold;
  background: black;
}

.feedback {
  text-align: center;
  color: green;
  visibility: hidden;
}

.title {
  text-align: center;
  color: gold;
}

#timer {
  text-align: center;
  color: purple;
  background: black;
}
